In [1]:
import logging

from external.client import YandexWeatherAPI
from tasks import (
    DataFetchingTask,
    DataCalculationTask,
    DataAggregationTask,
    DataAnalyzingTask,
)

TIMEOUT = 5.

logging.basicConfig(format='%(asctime)s [%(levelname)s] %(message)s')

In [2]:
# DataFetchingTask.
data_fetcher = DataFetchingTask(client=YandexWeatherAPI())
data_fetcher.run(timeout=TIMEOUT)

2023-08-15 15:23:05,032 [WARNING] Unable to fetch data for GIZA: HTTP Error 404: Not Found
2023-08-15 15:23:05,091 [WARNING] Unable to fetch data for TORONTO: Extra data: line 19 column 4 (char 328)

In [3]:
# DataCalculationTask.
data_calculator = DataCalculationTask(
    data_fetcher.city_to_forecasting_data
)
data_calculator.run(timeout=TIMEOUT)

In [4]:
# DataAggregationTask.
data_aggregator = DataAggregationTask(
    data_calculator.city_to_analyzed_days_info
)
aggregation_results_path = data_aggregator.run(save_format='csv')
data_aggregator.days_analyze_df.head()

,city,date,hours_start,hours_end,hours_count,temp_avg,relevant_cond_hours,temp_avg_mean,relevant_cond_hours_mean,rating
0,MOSCOW,2022-05-26,9,19,11,17.727,7,13.750,2.0,12
1,MOSCOW,2022-05-27,9,19,11,13.091,0,13.750,2.0,12
2,MOSCOW,2022-05-28,9,19,11,12.182,0,13.750,2.0,12
3,MOSCOW,2022-05-29,9,9,1,12.000,1,13.750,2.0,12
4,SPETERSBURG,2022-05-26,9,19,11,12.182,3,11.909,1.0,15

In [5]:
# DataAnalyzingTask.
top_index = 3
data_analysis = DataAnalyzingTask(aggregation_results_path)
resulted_cities = data_analysis.run(top_index=3)
print(f'{top_index} most relevant cities:')
for rating, (
        city_name,
        temperature,
        relevant_days,
) in enumerate(resulted_cities):
    print(
        f'{rating + 1}. {city_name} - {temperature} 째C '
        f'- {round(relevant_days)} days'
    )

3 most relevant cities:
1. ABUDHABI - 34.27275 째C - 9 days
2. CAIRO - 33.394 째C - 11 days
3. BEIJING - 31.6325 째C - 10 days