In [3]:
from tasks import DataFetchingTask, DataCalculationTask
from external.client import YandexWeatherAPI

data_fetcher = DataFetchingTask(client=YandexWeatherAPI())
data_fetcher.run()

print('Available cities:', ', '.join(
    data_fetcher.city_to_forecasting_data.keys()
))

data_calculator = DataCalculationTask(
    data_fetcher.city_to_forecasting_data
)
data_calculator.run()

# for city, data in data_calculator.city_to_analyzed_days_info.items():
#     print(f'{city}: {data}')
data_calculator.city_to_analyzed_days_info

WARNING:tasks:Unable to fetch data for GIZA: HTTP Error 404: Not Found
WARNING:tasks:Unable to fetch data for TORONTO: Extra data: line 19 column 4 (char 328)
WARNING:root:Input data is empty...

Available cities: BERLIN, MOSCOW, BEIJING, KAZAN, PARIS, SPETERSBURG, LONDON, NOVOSIBIRSK, VOLGOGRAD, WARSZAWA, ABUDHABI, BUCHAREST, ROMA, KALININGRAD, MADRID, CAIRO

{'BERLIN': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 19.273,
   'relevant_cond_hours': 9},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 16.0,
   'relevant_cond_hours': 6},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 13.636,
   'relevant_cond_hours': 0}],
 'MOSCOW': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 17.727,
   'relevant_cond_hours': 7},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 13.091,
   'relevant_cond_hours': 0},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 12.182,
   'relevant_cond_hours': 0},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 9,
   'hours_count': 1,
   'temp_avg': 12.0,
   'relevant_cond_hours': 1}],
 'BEIJING': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 31.818,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 32.727,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 33.818,
   'relevant_cond_hours': 11},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 14,
   'hours_count': 6,
   'temp_avg': 28.167,
   'relevant_cond_hours': 6}],
 'KAZAN': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 12.545,
   'relevant_cond_hours': 6},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 13.727,
   'relevant_cond_hours': 0},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 14.727,
   'relevant_cond_hours': 3},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 9,
   'hours_count': 1,
   'temp_avg': 14.0,
   'relevant_cond_hours': 1}],
 'PARIS': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 17.636,
   'relevant_cond_hours': 9},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 17.364,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 17.0,
   'relevant_cond_hours': 11}],
 'SPETERSBURG': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 12.182,
   'relevant_cond_hours': 3},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 11.818,
   'relevant_cond_hours': 0},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 11.636,
   'relevant_cond_hours': 0},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 9,
   'hours_count': 1,
   'temp_avg': 12.0,
   'relevant_cond_hours': 1}],
 'LONDON': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 17.364,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 16.273,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 14.636,
   'relevant_cond_hours': 11}],
 'NOVOSIBIRSK': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 24.909,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 22.455,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 23.273,
   'relevant_cond_hours': 11},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 13,
   'hours_count': 5,
   'temp_avg': 22.2,
   'relevant_cond_hours': 5}],
 'VOLGOGRAD': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 22.091,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 21.909,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 25.636,
   'relevant_cond_hours': 11},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 9,
   'hours_count': 1,
   'temp_avg': 25.0,
   'relevant_cond_hours': 1}],
 'WARSZAWA': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 19.636,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 14.0,
   'relevant_cond_hours': 3},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 12.818,
   'relevant_cond_hours': 0}],
 'ABUDHABI': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 34.818,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 34.455,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 33.818,
   'relevant_cond_hours': 11},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 10,
   'hours_count': 2,
   'temp_avg': 34.0,
   'relevant_cond_hours': 2}],
 'BUCHAREST': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 27.455,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 26.091,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 27.818,
   'relevant_cond_hours': 11},
  {'date': '2022-05-29',
   'hours_start': 9,
   'hours_end': 9,
   'hours_count': 1,
   'temp_avg': 18.0,
   'relevant_cond_hours': 1}],
 'ROMA': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 29.0,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 29.273,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 25.545,
   'relevant_cond_hours': 11}],
 'KALININGRAD': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 15.364,
   'relevant_cond_hours': 9},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 12.818,
   'relevant_cond_hours': 2},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 11.636,
   'relevant_cond_hours': 1}],
 'CAIRO': [{'date': '2022-05-26',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 32.545,
   'relevant_cond_hours': 11},
  {'date': '2022-05-27',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 33.182,
   'relevant_cond_hours': 11},
  {'date': '2022-05-28',
   'hours_start': 9,
   'hours_end': 19,
   'hours_count': 11,
   'temp_avg': 34.455,
   'relevant_cond_hours': 11}]}

In [66]:
import pandas as pd

data = data_calculator.city_to_analyzed_days_info

# Создаем список словарей для данных
rows = []

# Заполняем список словарей данными
for city, city_data in data.items():
    for entry in city_data:
        rows.append({
            'city': city,
            'date': entry['date'],
            'hours_start': entry['hours_start'],
            'hours_end': entry['hours_end'],
            'hours_count': entry['hours_count'],
            'temp_avg': entry['temp_avg'],
            'relevant_cond_hours': entry['relevant_cond_hours']
        })

df = pd.DataFrame(rows)
df

,city,date,hours_start,hours_end,hours_count,temp_avg,relevant_cond_hours
0,BERLIN,2022-05-26,9,19,11,19.273,9
1,BERLIN,2022-05-27,9,19,11,16.000,6
2,BERLIN,2022-05-28,9,19,11,13.636,0
3,MOSCOW,2022-05-26,9,19,11,17.727,7
4,MOSCOW,2022-05-27,9,19,11,13.091,0
5,MOSCOW,2022-05-28,9,19,11,12.182,0
6,MOSCOW,2022-05-29,9,9,1,12.000,1
7,BEIJING,2022-05-26,9,19,11,31.818,11
8,BEIJING,2022-05-27,9,19,11,32.727,11
9,BEIJING,2022-05-28,9,19,11,33.818,11
10,BEIJING,2022-05-29,9,14,6,28.167,6
11,KAZAN,2022-05-26,9,19,11,12.545,6
12,KAZAN,2022-05-27,9,19,11,13.727,0
13,KAZAN,2022-05-28,9,19,11,14.727,3
14,KAZAN,2022-05-29,9,9,1,14.000,1
15,PARIS,2022-05-26,9,19,11,17.636,9
16,PARIS,2022-05-27,9,19,11,17.364,11
17,PARIS,2022-05-28,9,19,11,17.000,11
18,SPETERSBURG,2022-05-26,9,19,11,12.182,3
19,SPETERSBURG,2022-05-27,9,19,11,11.818,0
20,SPETERSBURG,2022-05-28,9,19,11,11.636,0
21,SPETERSBURG,2022-05-29,9,9,1,12.000,1
22,LONDON,2022-05-26,9,19,11,17.364,11
23,LONDON,2022-05-27,9,19,11,16.273,11
24,LONDON,2022-05-28,9,19,11,14.636,11
25,NOVOSIBIRSK,2022-05-26,9,19,11,24.909,11
26,NOVOSIBIRSK,2022-05-27,9,19,11,22.455,11
27,NOVOSIBIRSK,2022-05-28,9,19,11,23.273,11
28,NOVOSIBIRSK,2022-05-29,9,13,5,22.200,5
29,VOLGOGRAD,2022-05-26,9,19,11,22.091,11
30,VOLGOGRAD,2022-05-27,9,19,11,21.909,11
31,VOLGOGRAD,2022-05-28,9,19,11,25.636,11
32,VOLGOGRAD,2022-05-29,9,9,1,25.000,1
33,WARSZAWA,2022-05-26,9,19,11,19.636,11
34,WARSZAWA,2022-05-27,9,19,11,14.000,3
35,WARSZAWA,2022-05-28,9,19,11,12.818,0
36,ABUDHABI,2022-05-26,9,19,11,34.818,11
37,ABUDHABI,2022-05-27,9,19,11,34.455,11
38,ABUDHABI,2022-05-28,9,19,11,33.818,11
39,ABUDHABI,2022-05-29,9,10,2,34.000,2
40,BUCHAREST,2022-05-26,9,19,11,27.455,11
41,BUCHAREST,2022-05-27,9,19,11,26.091,11
42,BUCHAREST,2022-05-28,9,19,11,27.818,11
43,BUCHAREST,2022-05-29,9,9,1,18.000,1
44,ROMA,2022-05-26,9,19,11,29.000,11
45,ROMA,2022-05-27,9,19,11,29.273,11
46,ROMA,2022-05-28,9,19,11,25.545,11
47,KALININGRAD,2022-05-26,9,19,11,15.364,9
48,KALININGRAD,2022-05-27,9,19,11,12.818,2
49,KALININGRAD,2022-05-28,9,19,11,11.636,1
50,CAIRO,2022-05-26,9,19,11,32.545,11
51,CAIRO,2022-05-27,9,19,11,33.182,11
52,CAIRO,2022-05-28,9,19,11,34.455,11

In [67]:
# Группируем по полю 'city' и вычисляем средние значения
grouped_df = df.groupby('city').agg({'temp_avg': 'mean', 'relevant_cond_hours': 'mean'}).reset_index()
# Ранжируем города.
grouped_df['rating'] = grouped_df[['temp_avg','relevant_cond_hours']].apply(tuple, axis=1).rank(
    method='dense',
    ascending=False,
).astype(int)

grouped_df

           city   temp_avg  relevant_cond_hours  rating
0      ABUDHABI  34.272750             8.750000       1
1       BEIJING  31.632500             9.750000       3
2        BERLIN  16.303000             5.000000       9
3     BUCHAREST  24.841000             8.500000       5
4         CAIRO  33.394000            11.000000       2
5   KALININGRAD  13.272667             4.000000      14
6         KAZAN  13.749750             2.500000      13
7        LONDON  16.091000            11.000000      10
8        MOSCOW  13.750000             2.000000      12
9   NOVOSIBIRSK  23.209250             9.500000       7
10        PARIS  17.333333            10.333333       8
11         ROMA  27.939333            11.000000       4
12  SPETERSBURG  11.909000             1.000000      15
13    VOLGOGRAD  23.659000             8.500000       6
14     WARSZAWA  15.484667             4.666667      11

In [68]:
# Добавляем новые колонки средних значений в исходный DataFrame
df = df.merge(grouped_df, on='city', suffixes=('', '_mean'))

In [69]:
df

,city,date,hours_start,hours_end,hours_count,temp_avg,relevant_cond_hours,temp_avg_mean,relevant_cond_hours_mean,rating
0,BERLIN,2022-05-26,9,19,11,19.273,9,16.303000,5.000000,9
1,BERLIN,2022-05-27,9,19,11,16.000,6,16.303000,5.000000,9
2,BERLIN,2022-05-28,9,19,11,13.636,0,16.303000,5.000000,9
3,MOSCOW,2022-05-26,9,19,11,17.727,7,13.750000,2.000000,12
4,MOSCOW,2022-05-27,9,19,11,13.091,0,13.750000,2.000000,12
5,MOSCOW,2022-05-28,9,19,11,12.182,0,13.750000,2.000000,12
6,MOSCOW,2022-05-29,9,9,1,12.000,1,13.750000,2.000000,12
7,BEIJING,2022-05-26,9,19,11,31.818,11,31.632500,9.750000,3
8,BEIJING,2022-05-27,9,19,11,32.727,11,31.632500,9.750000,3
9,BEIJING,2022-05-28,9,19,11,33.818,11,31.632500,9.750000,3
10,BEIJING,2022-05-29,9,14,6,28.167,6,31.632500,9.750000,3
11,KAZAN,2022-05-26,9,19,11,12.545,6,13.749750,2.500000,13
12,KAZAN,2022-05-27,9,19,11,13.727,0,13.749750,2.500000,13
13,KAZAN,2022-05-28,9,19,11,14.727,3,13.749750,2.500000,13
14,KAZAN,2022-05-29,9,9,1,14.000,1,13.749750,2.500000,13
15,PARIS,2022-05-26,9,19,11,17.636,9,17.333333,10.333333,8
16,PARIS,2022-05-27,9,19,11,17.364,11,17.333333,10.333333,8
17,PARIS,2022-05-28,9,19,11,17.000,11,17.333333,10.333333,8
18,SPETERSBURG,2022-05-26,9,19,11,12.182,3,11.909000,1.000000,15
19,SPETERSBURG,2022-05-27,9,19,11,11.818,0,11.909000,1.000000,15
20,SPETERSBURG,2022-05-28,9,19,11,11.636,0,11.909000,1.000000,15
21,SPETERSBURG,2022-05-29,9,9,1,12.000,1,11.909000,1.000000,15
22,LONDON,2022-05-26,9,19,11,17.364,11,16.091000,11.000000,10
23,LONDON,2022-05-27,9,19,11,16.273,11,16.091000,11.000000,10
24,LONDON,2022-05-28,9,19,11,14.636,11,16.091000,11.000000,10
25,NOVOSIBIRSK,2022-05-26,9,19,11,24.909,11,23.209250,9.500000,7
26,NOVOSIBIRSK,2022-05-27,9,19,11,22.455,11,23.209250,9.500000,7
27,NOVOSIBIRSK,2022-05-28,9,19,11,23.273,11,23.209250,9.500000,7
28,NOVOSIBIRSK,2022-05-29,9,13,5,22.200,5,23.209250,9.500000,7
29,VOLGOGRAD,2022-05-26,9,19,11,22.091,11,23.659000,8.500000,6
30,VOLGOGRAD,2022-05-27,9,19,11,21.909,11,23.659000,8.500000,6
31,VOLGOGRAD,2022-05-28,9,19,11,25.636,11,23.659000,8.500000,6
32,VOLGOGRAD,2022-05-29,9,9,1,25.000,1,23.659000,8.500000,6
33,WARSZAWA,2022-05-26,9,19,11,19.636,11,15.484667,4.666667,11
34,WARSZAWA,2022-05-27,9,19,11,14.000,3,15.484667,4.666667,11
35,WARSZAWA,2022-05-28,9,19,11,12.818,0,15.484667,4.666667,11
36,ABUDHABI,2022-05-26,9,19,11,34.818,11,34.272750,8.750000,1
37,ABUDHABI,2022-05-27,9,19,11,34.455,11,34.272750,8.750000,1
38,ABUDHABI,2022-05-28,9,19,11,33.818,11,34.272750,8.750000,1
39,ABUDHABI,2022-05-29,9,10,2,34.000,2,34.272750,8.750000,1
40,BUCHAREST,2022-05-26,9,19,11,27.455,11,24.841000,8.500000,5
41,BUCHAREST,2022-05-27,9,19,11,26.091,11,24.841000,8.500000,5
42,BUCHAREST,2022-05-28,9,19,11,27.818,11,24.841000,8.500000,5
43,BUCHAREST,2022-05-29,9,9,1,18.000,1,24.841000,8.500000,5
44,ROMA,2022-05-26,9,19,11,29.000,11,27.939333,11.000000,4
45,ROMA,2022-05-27,9,19,11,29.273,11,27.939333,11.000000,4
46,ROMA,2022-05-28,9,19,11,25.545,11,27.939333,11.000000,4
47,KALININGRAD,2022-05-26,9,19,11,15.364,9,13.272667,4.000000,14
48,KALININGRAD,2022-05-27,9,19,11,12.818,2,13.272667,4.000000,14
49,KALININGRAD,2022-05-28,9,19,11,11.636,1,13.272667,4.000000,14
50,CAIRO,2022-05-26,9,19,11,32.545,11,33.394000,11.000000,2
51,CAIRO,2022-05-27,9,19,11,33.182,11,33.394000,11.000000,2
52,CAIRO,2022-05-28,9,19,11,34.455,11,33.394000,11.000000,2

In [78]:
cities = df.groupby('city').first()[['temp_avg_mean', 'relevant_cond_hours_mean', 'rating']].sort_values(by='rating')[:1]

In [79]:
cities

          temp_avg_mean  relevant_cond_hours_mean  rating
city
ABUDHABI       34.27275                      8.75       1

In [93]:
for row in cities.iterrows():
    print(row['relevant_cond_hours_mean'])

TypeError: tuple indices must be integers or slices, not str